# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
build/
dist/
*.egg-info/

# Node
node_modules/
dist-frontend/

# Local/IDE
.vscode/
.idea/
.DS_Store

# Project Specific
backend/logs/
*.dll
*.dylib
*.lib
*.obj
cpp_engine/libengine.so
